<div class="container my-4">
    <div>
        <h4>Empleados</h4>
        <input class="form-control" type="text" placeholder="Buscar por cualquier campo">
    </div>

    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Nombre (cargo)</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha contratación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of ListEmployees">
            <td>
              <b>{{emp.name}} </b>
              {{emp.cargo.cargo}}</td>
            <td>{{emp.edad}}</td>
            <td>{{emp.hiringdate | date}}</td>
            <td>
              <i style="cursor: pointer;" class="fas fa-edit"></i> | 
              <i style="cursor: pointer;" [routerLink]="['/ver', emp._id]" class="fas fa-eye"></i> | 
              <i style="cursor: pointer;" (click)="deleteEmployee(emp._id)" class="fas fa-trash-alt"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" routerLink="/nuevo"><i class="fas fa-plus"></i> Crear nuevo empleado</button>
</div>
