<div class="container my-4">
    <h1>Ver: <b style="color: #31D2F2;">{{Employee.name}}</b></h1>

    <div style="margin-top: 60px;">
        <div class="form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha">Fecha de nacimiento</label>
                        <input type="date" [readonly]="true" [(ngModel)]="Employee.birthdate" class="form-control inp" id="fecha" name="fecha">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="area">Area</label><br>
                        <button [disabled]="area" [style.background-color]="area? '#949494': null" class="btn-l" style="width: 35%;">Administrativa</button>
                        <button [disabled]="!area" [style.background-color]="!area? '#949494': null" class="btn-r" style="width: 35%;">Tecnología</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="pais">País</label>
                        <select disabled class="form-select inp" [(ngModel)]="Employee.country" name="pais" id="pais">
                            <option>{{Employee.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="cargo">Cargo</label>
                        <select disabled class="form-select inp" [(ngModel)]="Employee.cargo.cargo" name="cargo" id="cargo">
                            <option>{{Employee.cargo.cargo}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" readonly [(ngModel)]="Employee.username" class="form-control inp" id="username" name="username">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="hiringdate">Fecha de contratación</label>
                        <input type="date" disabled [(ngModel)]="Employee.hiringdate" class="form-control inp" id="hiringdate" name="hiringdate">
                    </div>
                </div>
                <div [style.display]="Employee.cargo._id !== '609bdd24df06bc3294767ce7'? 'none': null" class="col-6">
                    <div class="form-group">
                        <label for="comision">Comisión</label>
                        <input type="number" readonly min="0" max="100" [(ngModel)]="Employee.comision" class="form-control inp" id="comision" name="comision">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                        <input style="height: 25px; width: 40px; margin-right: 13px; background-color: #6294da;" class="form-check-input" disabled [(ngModel)]="Employee.status" type="checkbox" id="flexSwitchCheckDefault" checked>
                      </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 70px;">
            <button routerLink="/lista" class="btn btn-info mx-4" style="color: white;"><i class="fas fa-chevron-left" style="margin-right: 13px;"></i>Atrás</button>
        </div>
    </div>
</div>
