<div class="container my-4">
    <h1>Ver: {{Employee.name}}</h1>

    <div class="mt-4">
        <div class="form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha">Fecha de nacimiento</label>
                        <input type="date" [readonly]="true" [(ngModel)]="Employee.birthdate" class="form-control" id="fecha" name="fecha">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="area">Area</label><br>
                        <button [disabled]="area" [style.background-color]="area? '#949494': null" class="btn-l w-50">Administrativa</button>
                        <button [disabled]="!area" [style.background-color]="!area? '#949494': null" class="btn-r w-50">Tecnología</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="pais">País</label>
                        <select disabled class="form-select" [(ngModel)]="Employee.country" name="pais" id="pais">
                            <option>{{Employee.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="cargo">Cargo</label>
                        <select disabled class="form-select" [(ngModel)]="Employee.cargo.cargo" name="cargo" id="cargo">
                            <option>{{Employee.cargo.cargo}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" readonly [(ngModel)]="Employee.username" class="form-control" id="username" name="username">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="hiringdate">Fecha de contratación</label>
                        <input type="date" disabled [(ngModel)]="Employee.hiringdate" class="form-control" id="hiringdate" name="hiringdate">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                        <input class="form-check-input" disabled [(ngModel)]="Employee.status" type="checkbox" id="flexSwitchCheckDefault" checked>
                      </div>
                </div>
                <div [style.display]="Employee.cargo !== '609bdd24df06bc3294767ce7'? 'none': null" class="col-6">
                    <div class="form-group">
                        <label for="comision">Comisión</label>
                        <input type="number" readonly min="0" max="100" [(ngModel)]="Employee.comision" class="form-control" id="comision" name="comision">
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button routerLink="/lista" class="btn btn-info mx-4" style="color: white;">Atrás</button>
        </div>
    </div>
</div>
